{% extends 'base.html' %}

{% block content %}

    <table class="confirm-table mt-5">
        <tr>
            <td colspan="2" class="text-center" style="font-size: 50px"><b>商品信息</b></td>
        </tr>
        <tr>
            <td>商品名稱 :</td>
            <td>{{ confirm.name }}</td>
        </tr>
        <tr>
            <td>演唱者 :</td>
            <td>{{ confirm.singer }}</td>
        </tr>
        <tr>
            <td>價格 :</td>
            <td><em>${{ confirm.price }}</em></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><a href="{% url 'information' confirm.id %}"><button type="button" class="btn btn-danger btn-lg btn-block">繼續前往付款</button></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><a href="{% url 'commodity' %}"><button type="button" class="btn btn-secondary btn-lg btn-block">取消購買</button></a></td>
        </tr>
    </table>
    <br>
    <br><br><br><br>

{% endblock %}